{% extends 'components/base.twig' %}

{% block title %}{{ album.name }} | Jolly Blue Man{% endblock %}

{% block content %}
    <section>
        <h2 class="text-m">{{ album.name }}</h2>
        {% include 'components/album-details.twig' with {'album': album } %}
        {% for row in snaps|batch(4) %}
            <div class="grid snaps chocolat-parent">
                {% for snap in row %}
                    <a href="{{ url_for('snaps.show', { 'sqid': snap.sqid }) }}" class="chocolat-image"
                       data-image-source="{{ url_for('snaps.file', { 'filename' : snap.sqid ~ '.' ~ snap.mimeType.ext }) }}">
                        <img src="{{ url_for('snaps.file', { 'filename' : snap.sqid ~ '.' ~ snap.mimeType.ext }) }}"
                             alt="{{ album.name }}: {{ snap.sqid }}"
                        >
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
    <hr class="my-5">
{% endblock %}
